.companies-container {
	justify-content: space-between;
	gap: 1rem;
}

.companies-container img {
	width: 9rem;
}

@media (max-width: 768px) {
	.companies-container {
		justify-content: space-around;
	}
}
