.h-wrapper {
	color: #fff;
	z-index: 50;
	position: inherit;
}

.h-container {
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: var(--secondary);
	flex-wrap: nowrap;
	gap: 1rem;
}

.h-menu {
	gap: 2rem;
	flex-wrap: nowrap;
}

.h-menu > * {
	cursor: pointer;
	transition: color 0.3s;
}

.h-menu .btn {
	transition: transform .3s;
}

.h-menu > *:not(:last-child):hover {
	color: white;
}

.menu-icon, .close-menu{
	display: none;
}

@media (max-width: 790px) {
	.menu-icon, .close-menu {
		display: block;
    cursor: pointer;
	}

	.h-menu {
		color: var(--black);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 10;
		background: white;
		flex-direction: column;
		height: 100vh;
		width: 50%;
		gap: 1rem;
		padding: 3rem;
		box-shadow: -30px 0 50px 50px rgba(0, 0, 0, 0.205);
    transition: .3s ease-in-out;
	}

  .h-menu > *:not(:last-child) {
    padding: .5rem;
  }

	.h-menu > *:not(:last-child):hover {
		opacity: .6;
    color: unset;
	}

  .close-menu {
    fill: black;
    position: absolute;
    top: .5rem;
    right: .8rem;
    z-index: 20;
    font-size: 3rem;
  }
}
